In [3]:
import pandas as pd
import dask.dataframe as dd

In [4]:
d = [
    {
        'id':[2],
        'object_names':['bab'],
        'paths':['/bab'],
        'size':[12],
        'type':['zip'],
        'upload':[True]
    },
    {
        'id':[1],
        'object_names':['bob'],
        'paths':['/bob'],
        'size':[2],
        'type':['zip'],
        'upload':[False]
    },
    {
        'id':[0],
        'object_names':['bib'],
        'paths':['/bib'],
        'size':[9],
        'type':['file'],
        'upload':[True]
        }
]

In [5]:
ddf = dd.from_pandas(pd.DataFrame([], columns=['id', 'object_names', 'paths', 'size', 'type', 'upload']))

In [6]:
for de in d:
    df = pd.DataFrame(de)
    if (len(ddf.index) == 0):
        ddf = dd.from_pandas(df, npartitions=1)
    else:
        ddf = dd.concat([ddf, dd.from_pandas(df, npartitions=1)])

In [7]:
ddf

Dask DataFrame Structure:
                  id object_names   paths   size    type upload
npartitions=3
               int64       string  string  int64  string   bool
                 ...          ...     ...    ...     ...    ...
                 ...          ...     ...    ...     ...    ...
                 ...          ...     ...    ...     ...    ...
Dask Name: concat, 5 expressions
Expr=Concat(frames=[Concat(frames=[df, df], ), df], )

In [8]:
del d[2]

In [9]:
d

[{'id': [2],
  'object_names': ['bab'],
  'paths': ['/bab'],
  'size': [12],
  'type': ['zip'],
  'upload': [True]},
 {'id': [1],
  'object_names': ['bob'],
  'paths': ['/bob'],
  'size': [2],
  'type': ['zip'],
  'upload': [False]}]

In [10]:
ddf.compute()

   id object_names paths  size  type  upload
0   2          bab  /bab    12   zip    True
0   1          bob  /bob     2   zip   False
0   0          bib  /bib     9  file    True

In [11]:
import os

In [12]:
path = os.path.abspath('../../../test_tree_large')

In [13]:
path

'/home/dave/test_tree_large'

In [14]:
df = pd.DataFrame()
folder_count = 0
file_count = 0
for folder, _, files in os.walk(path, topdown=True):
    if len(files) > 0:
        folder_count += 1
        file_count += len(files)
        # print(f'folder: {folder}')
        # print(f'sub_folders: {sub_folders}')
        # print(f'files: {files}')
        folder_files = [os.path.join(folder, file) for file in files]
        df = pd.concat([df, pd.DataFrame(folder_files, columns=['local_path'])], ignore_index=True)

In [15]:
df['size'] = df['local_path'].apply(lambda x: os.path.getsize(x))
df['object_names'] = df['local_path'].apply(lambda x: os.path.basename(x))
df['upload'] = False
df['type'] = 'file'

In [16]:
ddf = dd.from_pandas(df, npartitions=100)
ddf

Dask DataFrame Structure:
                local_path   size object_names upload    type
npartitions=100
0                   string  int64       string   bool  string
91                     ...    ...          ...    ...     ...
...                    ...    ...          ...    ...     ...
8913                   ...    ...          ...    ...     ...
9002                   ...    ...          ...    ...     ...
Dask Name: frompandas, 1 expression
Expr=df

In [17]:
current_objects = pd.Series(os.listdir('../../../test_tree_large/7/'))

In [18]:
current_objects = pd.DataFrame(current_objects, columns=['object_names'])
current_objects

     object_names
0         7_256.f
1         7_175.f
2         7_609.f
3         7_769.f
4         7_422.f
...           ...
996       7_834.f
997       7_845.f
998       7_195.f
999       7_507.f
1000      7_221.f

[1001 rows x 1 columns]

In [19]:
ddf['exists'] = ddf['object_names'].isin(current_objects['object_names'])

In [20]:
done = ddf.compute()

In [21]:
uploads = done[done['exists'] == False].drop(columns=['exists'])

In [22]:
uploads

,local_path,size,object_names,upload,type
0,/home/dave/test_tree_large/test-test_tree_larg...,96,test-test_tree_large-lsst-backup.csv,False,file
1,/home/dave/test_tree_large/test_tree_traversal...,276,test_tree_traversal.yaml,False,file
2,/home/dave/test_tree_large/test.csv,334208,test.csv,False,file
3,/home/dave/test_tree_large/3/3_425.f,1048576,3_425.f,False,file
4,/home/dave/test_tree_large/3/3_805.f,1048576,3_805.f,False,file
...,...,...,...,...,...
8998,/home/dave/test_tree_large/1/1_632.f,1048576,1_632.f,False,file
8999,/home/dave/test_tree_large/1/1_686.f,1048576,1_686.f,False,file
9000,/home/dave/test_tree_large/1/1_671.f,1048576,1_671.f,False,file
9001,/home/dave/test_tree_large/1/1_613.f,1048576,1_613.f,False,file
9002,/home/dave/test_tree_large/1/1_842.f,1048576,1_842.f,False,file

In [23]:
max_zip_size = 1048576 * 100

In [24]:
uploads

,local_path,size,object_names,upload,type
0,/home/dave/test_tree_large/test-test_tree_larg...,96,test-test_tree_large-lsst-backup.csv,False,file
1,/home/dave/test_tree_large/test_tree_traversal...,276,test_tree_traversal.yaml,False,file
2,/home/dave/test_tree_large/test.csv,334208,test.csv,False,file
3,/home/dave/test_tree_large/3/3_425.f,1048576,3_425.f,False,file
4,/home/dave/test_tree_large/3/3_805.f,1048576,3_805.f,False,file
...,...,...,...,...,...
8998,/home/dave/test_tree_large/1/1_632.f,1048576,1_632.f,False,file
8999,/home/dave/test_tree_large/1/1_686.f,1048576,1_686.f,False,file
9000,/home/dave/test_tree_large/1/1_671.f,1048576,1_671.f,False,file
9001,/home/dave/test_tree_large/1/1_613.f,1048576,1_613.f,False,file
9002,/home/dave/test_tree_large/1/1_842.f,1048576,1_842.f,False,file

In [28]:
import numpy as np

In [ ]:

uploads['individual_upload'] = np.random.choice([True, False], size=len(uploads))
uploads

In [33]:
len(uploads)

8003

In [ ]:

cumulative_size = 0
batches = []
batch = []
batch_number = []
k = 0
for row in uploads.iterrows():
    if row[1]['individual_upload']:
        batch_number.append(0)
    size = row[1]['size']
    if cumulative_size + size > max_zip_size:
        batches.append(1)
        batch = [1]
        cumulative_size = size
    else:
        batch.append(1)
        cumulative_size += size
    if row[1].local_path == uploads.index[-1]:
        batches.append(1)
    batch_number.append(len(batches))
    print(f'row: {row[1].local_path} - batch: {len(batches)} - cumulative_size: {cumulative_size} - size: {size} - individual_upload: {row[1]["individual_upload"]}')
    k+=1
    if k == 10:
        break

batch_number

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 2,
 0,
 2,
 0,
 2,
 2,
 0,
 2,
 0,
 2,
 0,
 2,
 0,
 2,
 2,
 2,
 0,
 2,
 0,
 2,
 2,
 0,
 2,
 2,
 0,
 2,
 2,
 0,
 2,
 2,
 2,
 2,
 2,
 0,
 2,
 0,
 2,
 0,
 2,
 2,
 2,
 2,
 2,
 0,
 2,
 2,
 0,
 2,
 2,
 0,
 2,
 0,
 2,
 2,
 0,
 2,
 2,
 2,
 0,
 2,
 0,
 2,
 0,
 2,
 2,
 2,
 2,
 2,
 0,
 2,
 0,
 2,
 0,
 2,
 2,
 2,
 2,
 2,
 0,
 2,
 0,
 2,
 2,
 2,
 0,
 2,
 0,
 2,
 2,
 0,
 2,
 2,
 0,
 2,
 0,
 2,
 2,
 2,
 2,
 2,
 0,
 2,
 0,
 2,
 2,
 0,
 2,
 2,
 0,
 2,
 0,
 2,
 0,
 2,
 0,
 2,
 0,
 2,
 0,
 2,
 2,
 2,
 2,
 2,
 0,
 2,
 0,
 2,
 0,
 2,
 0,
 2,
 0,
 2,
 0,
 2,
 2,
 0,
 2,
 2,
 2,
 0,
 2,
 2,
 0,
 2,
 0,
 2,
 0,
 2,
 0,
 2,
 0,
 2,
 3,
 3,
 0,
 3,
 3,
 3,
 3,
 0,
 3,
 3,
 3,
 0,
 3,
 0,
 3,
 0,
 3,
 3,
 3,
 3,
 0,
 3,
 3,
 3,
 0,
 3,
 3,
 3,
 3,
 3,
 3,
 0,
 3,
 3,
 0,
 3,
 0,
 3,
 0,
 3,
 0,
 3,
 0,
 3,
 3,
 0,
 3,
 0,
 3,
 0,
 3,
 0,
 3,
 3,
 3,
 3,
 0,
 3,
 3,
 0,
 3,
 0,
 3,
 3,
 3,
 3,
 3,
 0,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 0,
 3,
 3,
 0,
 3,
 3,
 0,
 3,
 3,
 3,
 3,
 3,
 0,
 3,
 3,
 3,
 3,
 0,
 3,
 0,
 3,
 0,
 3,
 0,
 3,
 3,
 0,
 3,
 0,
 3,
 0,
 3,
 3,
 0,
 3,
 0,
 3,
 3,
 0,
 3,
 0,
 3,
 3,
 0,
 3,
 0,
 3,
 3,
 0,
 3,
 0,
 3,
 0,
 3,
 0,
 3,
 3,
 0,
 3,
 3,
 0,
 3,
 3,
 3,
 3,
 0,
 3,
 0,
 3,
 0,
 3,
 0,
 3,
 0,
 4,
 0,
 4,
 4,
 0,
 4,
 4,
 4,
 0,
 4,
 4,
 4,
 0,
 4,
 0,
 4,
 4,
 0,
 4,
 4,
 4,
 4,
 0,
 4,
 4,
 0,
 4,
 0,
 4,
 0,
 4,
 4,
 4,
 0,
 4,
 0,
 4,
 4,
 0,
 4,
 0,
 4,
 4,
 4,
 4,
 0,
 4,
 0,
 4,
 4,
 4,
 0,
 4,
 0,
 4,
 4,
 0,
 4,
 0,
 4,
 4,
 4,
 0,
 4,
 0,
 4,
 0,
 4,
 0,
 4,
 4,
 0,
 4,
 0,
 4,
 4,
 4,
 0,
 4,
 0,
 4,
 4,
 0,
 4,
 4,
 0,
 4,
 0,
 4,
 0,
 4,
 4,
 0,
 4,
 0,
 4,
 4,
 0,
 4,
 4,
 0,
 4,
 4,
 4,
 4,
 0,
 4,
 4,
 4,
 4,
 4,
 0,
 4,
 4,
 0,
 4,
 4,
 4,
 4,
 0,
 4,
 0,
 4,
 0,
 4,
 4,
 0,
 4,
 0,
 4,
 4,
 4,
 0,
 4,
 4,
 0,
 4,
 0,
 4,
 4,
 0,
 4,
 4,
 4,
 0,
 4,
 4,
 4,
 0,
 4,
 5,
 5,
 5,
 5,
 0,
 5,
 5,
 5,
 5,
 5,
 5,
 0,
 5,
 0,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 0,
 5,
 5,
 5,
 0,
 5,
 5,
 5,
 5,
 0,
 5,
 5,
 0,
 5,
 5,
 5,
 0,
 5,
 5,
 5,
 5,
 0,
 5,
 0,
 5,
 5,
 5,
 5,
 5,
 5,
 0,
 5,
 0,
 5,
 0,
 5,
 0,
 5,
 0,
 5,
 0,
 5,
 5,
 0,
 5,
 5,
 0,
 5,
 5,
 0,
 5,
 5,
 5,
 5,
 5,
 0,
 5,
 5,
 0,
 5,
 5,
 0,
 5,
 5,
 5,
 0,
 5,
 0,
 5,
 0,
 5,
 0,
 5,
 0,
 5,
 0,
 5,
 5,
 5,
 5,
 0,
 5,
 5,
 0,
 5,
 5,
 0,
 5,
 0,
 5,
 0,
 5,
 5,
 5,
 5,
 0,
 5,
 0,
 5,
 5,
 5,
 0,
 5,
 0,
 5,
 0,
 5,
 5,
 5,
 0,
 5,
 5,
 5,
 0,
 5,
 0,
 5,
 0,
 5,
 0,
 5,
 6,
 0,
 6,
 0,
 6,
 0,
 6,
 6,
 6,
 6,
 6,
 0,
 6,
 0,
 6,
 6,
 0,
 6,
 6,
 6,
 0,
 6,
 6,
 6,
 6,
 0,
 6,
 6,
 6,
 6,
 0,
 6,
 0,
 6,
 6,
 0,
 6,
 6,
 6,
 6,
 6,
 0,
 6,
 0,
 6,
 0,
 6,
 6,
 6,
 6,
 0,
 6,
 0,
 6,
 0,
 6,
 6,
 6,
 0,
 6,
 0,
 6,
 6,
 0,
 6,
 6,
 6,
 0,
 6,
 0,
 6,
 6,
 6,
 0,
 6,
 0,
 6,
 6,
 0,
 6,
 6,
 0,
 6,
 6,
 0,
 6,
 6,
 6,
 6,
 6,
 0,
 6,
 6,
 6,
 6,
 0,
 6,
 0,
 6,
 ...]

In [35]:
len(batch_number)

12026

In [ ]:
uploads

,local_path,size,object_names,upload,type,individual_upload
0,/home/dave/test_tree_large/test-test_tree_larg...,96,test-test_tree_large-lsst-backup.csv,False,file,False
1,/home/dave/test_tree_large/test_tree_traversal...,276,test_tree_traversal.yaml,False,file,False
2,/home/dave/test_tree_large/test.csv,334208,test.csv,False,file,False
3,/home/dave/test_tree_large/3/3_425.f,1048576,3_425.f,False,file,True
4,/home/dave/test_tree_large/3/3_805.f,1048576,3_805.f,False,file,False
...,...,...,...,...,...,...
8998,/home/dave/test_tree_large/1/1_632.f,1048576,1_632.f,False,file,True
8999,/home/dave/test_tree_large/1/1_686.f,1048576,1_686.f,False,file,False
9000,/home/dave/test_tree_large/1/1_671.f,1048576,1_671.f,False,file,True
9001,/home/dave/test_tree_large/1/1_613.f,1048576,1_613.f,False,file,False
9002,/home/dave/test_tree_large/1/1_842.f,1048576,1_842.f,False,file,True